#box_change{
    height: 200px;
    width: 200px;
}

.hidden{
    display: none;
}

.blue{
    background-color: aqua;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.x-hidden{
    display: none;
}

.x-show{
    display: inline;
}